html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding:1em;
}

.messages {
  height: calc(100vh - 300px);
  overflow-y: scroll;
  max-width: 100vw!important;
}

.messages__form {
  position:fixed!important;
  bottom: 1em;
  margin-left: 320px!important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

.progress__bar {
  margin: .3em 0 0 0!important;
}

.menu {
  padding-bottom: 2em;
}

.emojipicker {
  position: absolute;
}

.skeleton {
  position: relative;
  overflow: hidden;
  height:40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: '';
  display:block;
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 50%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  )
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height:35px;
  width:35px;
  border-radius: 3px;
  background: rgba(58, 57, 57, .3);
}

.skeleton__author {
  background: rgba(58, 57, 57, .3);
  width:120px;
  height:10px;
  border-radius: 3px;
  position: absolute;
  bottom:30px;
  left:40px;
  right:0;
}

.skeleton__details {
  background: rgba(58, 57, 57, .3);
  height:20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left:40px;
  right:20px;
}